@(post : BlogPost)
@import tools._

<br>
<form id="updatepostForm" class="form-horizontal" data-postid="@post.id">
	<div class="form-group">
		<div class="col-sm-3 col-xs-6">
			<input type="text" class="pubdate form-control" name="pubdate" placeholder="dd mm yyyy" value="@StringUtil.postDate( post.datePub )">
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="isonline" value="true" @if(post.isOnline){checked}>En ligne
        		</label>
      		</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control" name="title" placeholder="Titre" value="@post.title">
			<textarea class="newpost-body form-control" rows="16" name="body" placeholder="Texte">@post.body</textarea>	
		</div>
	</div>
	<div class="form-group newpost-preview-group">
		<div class="newpost-preview col-sm-12">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3 col-xs-6">
			<button type="submit" class="submit btn btn-default">Enregistrer</button>
		</div>
		<div class="col-sm-3 col-xs-6">
			<button type="button" class="btn btn-default btn-inactive">Preview</button>
		</div>
	</div>
</form>