@()
@import layouts._

@head = {
}

@adm("Yoga et méditation à Montréal | Inscripton Infolettre")(head){
<div class="row">
        
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <a href="@routes.Admin.index()" class="btn btn-default">Retour</a>
        
        <br><br>
	    <form id="sendnewsletterForm" class="form-horizontal">
		    <div class="form-group">
		        <div class="col-sm-12">
		            <input type="text" class="form-control" name="title" placeholder="Objet du courriel">
		            <textarea class="newpost-body form-control" rows="16" name="body" placeholder="Texte"></textarea>   
		        </div>
		    </div>
		    <div class="form-group newpost-preview-group">
		        <div class="newpost-preview col-sm-12">
		        </div>
		    </div>
		    <div class="form-group">
	            <div class="col-sm-3 col-xs-6" >
		            <button type="button" class="newpost-preview btn btn-default btn-inactive">Preview</button>
                    <div id="newsletterPreSubmit" class="btn btn-default">Envoyer l'infolettre à tout les abonnés</div>
                    <button id="newsletterSubmit" style="display:none;"  type="submit" class="submit btn btn-warning">CONFIRMER l'envoi ???</button>
	            </div>
		    </div>
		    
	    </form>
    </div>
</div>
}
