@()
@import layouts._

@head = {
}

@heading = {
	<h1>Mes classes</h1>
	<hr class="small">
	<span class="subheading">À quoi s'attendre</span>
}

@main("Yoga et méditation à Montréal | À propos")(head)(heading)("aquoi-bg.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
            Mes classes sont un mélange de hatha yoga, de vinyasa et de restaurateur.
            Une part du temps est aussi consacrée à la relaxation et à la méditation.
            <br><br>
            <ul>
                <li>Yoga en entreprise</li>
                <li>Yoga en milieu scolaire</li>
                <li>Yoga au parc Jarry en été</li>
                <li>Cours privés</li>
                <li>Coaching</li>
            </ul>
			<br>
	        Selon moi, faire du yoga, c'est choisir de faire un travail sur soi-même. Si on cherche à être en forme,
	        le yoga va nous aider mais on peut aussi bien choisir n'importe quelle autre activité physique. J'ai commencé
	        ma remise en question à 25 ans, quand j'ai remarqué que je n'étais pas satisfaite de ma vie alors que j'avais toujours
	        fait à peu près ce qui était attendu de moi. Ça m'a pris plus d'une crise de nerfs avant d'oser aller dans "ma" direction.
	        De choisir pour moi, en fonction de mes désirs et de mes attentes, sans me laisser distraire par l'avis de mon entourage.
	        Plus dur encore, sans me laisser décourager par mes propres peurs, mes préjugés et mes blocages.<br><br>
	        Le yoga est venu me chercher et est devenu un des mes outils principaux dans ma croissance personnelle.
	        Je me suis rendu compte que je vivais assez déconnectée de mon corps. Être plus présente dans mon corps,
	        c'est être plus attentive à la vie. Je pratique le yoga sur le tapis pour ensuite l'amener dans ma vie quotidienne,
		    dans mes actions, dans mes pensées. Ce qui est merveilleux, c'est que la croissance personnelle occupe toute une vie.
	        Que ce soit en classe ou à la maison, je travaille tous les jours à abandonner mes automatismes, un à la fois. Je pratique
	        la sincérité, la douceur et l'amour envers moi-même et les autres, afin de correspondre à chaque fois un peu plus à ce en quoi je crois.
	        <br><br>
		    J’ai appris le hatha yoga et le vinyasa avec Sylvie Tremblay (inspirée par Sri Dharma Mittra) à Yoga Sangha. 
		    J'ai une certification en yoga prénatal et postnatal obtenue avec Lidija Segon de l'école Satyam. 
		    Je suis présentement une formation avancée avec Hart Lazer et Donna Read (style Iyengar), de United Yoga Montreal.
            <br><br>
		    Je remplace aussi régulièrement au centre Yoga Bhavana dans Villeray à Montréal
	    </div>
    </div>
</div>
}
