@()
@import layouts._

@head = {
}

@heading = {
	<h1>Mon yoga</h1>
	<hr class="small" style="margin-bottom:80px;">
}

@main("Yoga et tarot à Montréal | Mon yoga")(head)(heading)("aquoi-bg.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
			J'ai passé beaucoup de temps à attendre, à chercher. À me chercher, à me définir.
			Quand je suis dans une posture de yoga, je n'attends plus, je ne cherche plus. Je ne me cherche plus. Je ressens.
			<br><br>
			J'enseigne le restaurateur, le yin et le vinyasa doux.
			<br><br>
			J’ai étudié avec Sylvie Tremblay (inspirée par Sri Dharma Mittra) à Yoga Sangha. J'ai une certification en yoga prénatal 
			et postnatal obtenue avec Lidija Segon de l'école Satyam. J'ai suivi une formation avancée avec Hart Lazer et Donna Read (style Iyengar), 
			de United Yoga Montreal. J'ai étudié le yoga restaurateur et yin avec Marie-Daphné Roy, de Yoga Bhavana. J'enseigne à Yoga Bhavana.
			<br><br>
			Cours privés ou en petits groupes dans un studio tout équipé : 80$/h
	    </div>
    </div>
</div>
}
