@()
@import layouts._

@head = {
}

@heading = {
	<h1>À quoi s'attendre</h1>
	<hr class="small">
	<span class="subheading">Un peu plus de détails...</span>
}

@main("Yoga et méditation | À propos")(head)(heading)("aquoi-bg.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
            Mes classes sont un mélange de hatha yoga, de vinyasa et de restaurateur.
            Une part du temps est aussi consacrée à la relaxation et à la méditation.
            <br>
            <ul>
                <li>Yoga en entreprise</li>
                <li>Yoga en milieu scolaire</li>
                <li>Yoga au parc Jarry en été</li>
            </ul>
        </p>
	    <p>
		    J’ai appris le hatha yoga et le vinyasa avec Sylvie Tremblay, de Yoga Sangha. J'ai une certification en yoga prénatal et postnatal
		    obtenue avec Lidija Segon de l'école Satyam. 
		    Je suis présentement une formation avancée avec Hart Lazer, de United Yoga Montreal.
	    </p>
    </div>
</div>
}