@()
@import layouts._

@head = {
}

@heading = {
	<h1>Coaching</h1>
	<hr class="small" style="margin-bottom:80px;">
}

@main("Yoga et méditation à Montréal | Coaching")(head)(heading)("coaching.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
On peut acquérir une multitude de diplômes et de certifications pour faire ce qu'on veut dans la vie. 
Mais souvent la question à laquelle on a le plus de mal à répondre, c'est:
<br><br>
Qu'est-ce que JE veux faire dans cette vie? ou
Qu'est-ce que je suis venue faire dans cette vie?
<br><br>
On est tous venus sur terre pour déployer notre essence profonde. Nos propres croyances et notre entourage 
nous ont peut-être poussé à suivre un certain chemin et il arrive régulièrement qu'on se rende compte qu'on n'est pas à notre place.
<br><br>
Je sais qu'à l'intérieur de chacun, il existe une multitude de talents insoupçonnés. Votre travail, avec mon aide, 
sera d'aller à la rencontre de vous-même et de votre essence. Je vous fournirai des outils pour mieux explorer qui 
vous êtes, ce qui vous permettra d'aller jouer avec ces nombreux talents que vous avez.
<br><br>
Nous prendrons aussi du recul par rapport à la façon de penser habituelle. Nous ne sommes peut-être pas ici pour être médecin, 
mais plutôt pour soigner. Ce qui est un concept plus général et ce qui, du coup, ouvre les portes à une panoplie d'autres activités. 
Massothérapeute, naturopathe, ambulancier, psychologue, etc. Peu importe! Une vision plus large permet de voir plus clairement les 
opportunités que la vie nous présente.
<br><br>
Je ne prétends pas connaître de techniques miraculeuses pour vous faire découvrir votre essence en 5 minutes. 
La vie aime qu'on fasse des détours parce qu'ils sont riches en découvertes. Avec vous, j'utilise mes propres talents, 
en vue de vous faire découvrir les vôtres. Armée d'une bonne intuition, je sais écouter les gens et j'ai une grande capacité de discernement. 
J'ai aussi ce don pour la franchise, si je remarque quelque chose qui doit être dit, ce sera fait.
<br><br>
Vous pouvez me consulter pour n'importe quelle question qui demande de la guidance. Un nouveau projet, 
un choix, une remise en question plus poussée. Je ne serai jamais la personne qui vous dira quoi faire. 
Je vous guiderai plutôt dans une relation avec vous-même. Vous êtes le seul maître de votre vie.
<br><br>
Une seule rencontre peut suffire. C'est vous qui décidez si vous avez besoin qu'on se revoit. Au plaisir de vous rencontrer.
<br><br>
Tarif: 70$ pour 1h30
	    </div>
    </div>
</div>
}
