@()
@import layouts._
@import blog._
@import tools._

@head = {
}

@heading = {
    <h1>Utilise ton corps</h1>
    <hr class="small">
    <div class="subheading">Yoga, méditation et coaching<br><span class="subheading-small">à Montréal</span></div>
}

@main("Yoga et méditation à Montréal avec Marie-Noëlle Reyntjens")(head)(heading)("home-bg.jpg") {
<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
         
         <div class="alert alert-info">
            <div><b>Cours avril à juin 2015</b> 
            	<span class="read-more"><a href="#" class="btn-plus" onclick="return false;" >plus d'infos &rarr;</a></span>
            </div>
            
            <p class="part2 info" style="display:none;">
               Yoga et méditation du 1 avril au 3 juin, <b>les mercredis à 8h30-9h45</b>,
               <br>
               <b>Inscription&thinsp;:</b> utilisetoncorps@@gmail.com / 514 886 5210
               <br>
               <b>Prix&thinsp;:</b> 150$ pour session de 10 cours, paiement au 1er cours
               <br>
               <b>Adresse&thinsp;:</b> 304 rue Faillon Est (entre Drolet et Henri-Julien), Montréal
               <br>
               (Studio de yoga professionnel)
            </p>
         </div>
         
         <div class="alert alert-info">
            <div><b>Cours janvier à mars 2015</b> 
            	<span class="read-more"><a href="#" class="btn-plus" onclick="return false;" >plus d'infos &rarr;</a></span>
            </div>
            
            <p class="part2 info" style="display:none;">
               Yoga et méditation du 14 janvier au 18 mars, <b>les mercredis à 8h30-9h45</b>,
               <br>
               <b>Inscription&thinsp;:</b> utilisetoncorps@@gmail.com / 514 886 5210
               <br>
               <b>Prix&thinsp;:</b> 150$ pour session de 10 cours, paiement au 1er cours
               <br>
               <b>Adresse&thinsp;:</b> 304 rue Faillon Est (entre Drolet et Henri-Julien), Montréal
               <br>
               (Studio de yoga professionnel)
            </p>
         </div>
      </div>
      
      
		<div style="font-size:medium;">Recevez les nouveaux billets par courriel</div>
		<form id="newsletterForm" class="form-inline" style="font-size:medium;">
			<div class="form-group" >
		    	<input type="email" size=30 class="form-control" name="email" id="email" placeholder="Votre courriel">
		  		<button type="submit" class="btn btn-default btn-sm">s'inscrire</button>
		  	</div>
		</form>
		
		
      <hr class="dark">
      

		@defining( Util.getBlogResult(5,1,false) ) { blogResult =>
	    	@for( (post,index) <- blogResult.posts.zipWithIndex ) {
	    	
	    		@if(index==0) {
	    			@views.html.blog.article(post){ @Html(post.bodyHtml) }
	    		} else {
		    		@defining( StringUtil.getParts(post.bodyHtml,300) ) { parts =>	
						@views.html.blog.teaser(post){ @Html(parts.one) }{ @Html(parts.two) }( (parts.two!=null) )
		    		}
	    		}
	    	}
		}
        <ul class="pager">
            <li class="next">
                <a href="@routes.Application.journal(1)">Tous les billets &rarr;</a>
            </li>
        </ul>

   </div>
</div>
}
