@()
@import layouts._
@import blog._
@import tools._

@head = {
}

@heading = {
    <h1>Utilise ton corps</h1>
    <hr class="small">
    <span class="subheading">Yoga et méditation</span>
}

@main("Yoga et méditation")(head)(heading)("home-bg.jpg") {
<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
         <div class="alert alert-info">
            <h3>Nouveau cours en janvier 2015</h3>
            <p class="info">
               Yoga et méditation, <b>mercredi 8h45-10h00</b>, du 14 janvier au 18 mars
               <br>
               <b>Inscription&thinsp;:</b> utilisetoncorps@@gmail.com / 514 886 5210
               <br>
               <b>Prix&thinsp;:</b> 150$ pour session de 10 cours, paiement au 1er cours
               <br>
               <b>Adresse&thinsp;:</b> 304 rue Faillon Est (entre Drolet et Henri-Julien)
               <br>
               Studio de yoga professionnel
            </p>
         </div>
      </div>
      <hr class="dark">
      

		@defining( Util.getBlogResult(10,1,false) ) { blogResult =>
	    	@for( (post,index) <- blogResult.posts.zipWithIndex ) {
	    	
	    		@if(index==0) {
	    			@views.html.blog.article(post){ @Html(post.bodyHtml) }
	    		} else {
		    		@defining( StringUtil.getParts(post.bodyHtml,300) ) { parts =>	
						@views.html.blog.teaser(post){ @Html(parts.one) }{ @Html(parts.two) }( (parts.two!=null) )
		    		}
	    		}
	    	}
		}
        <ul class="pager">
            <li class="next">
                <a href="@routes.Application.journal(1)">Tous les billets &rarr;</a>
            </li>
        </ul>

   </div>
</div>
}