@()
@import layouts._

@head = {
}

@heading = {
	<h1>Une pause</h1>
	<hr class="small">
	<span class="subheading">pour le plaisir de créer</span>
}

@main("Yoga et méditation | Photos")(head)(heading)("pictures-bg.jpg") {
<div class="row gallery">
    <div class="col-md-10 col-md-offset-1">
        <img class="img-responsive" src="/assets/images/pictures/batibou.jpg"/>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <img class="img-responsive" src="/assets/images/pictures/chabou.jpg"/>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <img class="img-responsive" src="/assets/images/pictures/oiseau.jpg"/>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <img class="img-responsive" src="/assets/images/pictures/hibou.jpg"/>
    </div>
</div>
}