@()
@import layouts._

@head = {
}

@heading = {
	<h1>Lectures et références</h1>
	<hr class="small">
}

@main("Yoga et méditation à Montréal | Photos")(head)(heading)("pictures-bg.jpg") {

<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
   
   		<div class="row">
   		
   		<div class="col-sm-6">
	   		<h3>Livres</h3>
	   		<p>
			@views.html.read.teaser("Autobiographie d'un yogi, Paramahansa Yogananda")
			@views.html.read.teaser("Le pouvoir du moment présent, Eckhart Tolle")
			@views.html.read.teaser("Prof! D'une mer d'émotions à un monde de notions, Bob Cantin et Anne-Marie Quesnel")
			@views.html.read.teaser("Vivre et mourir... guéri!, France Gauthier")
			@views.html.read.teaser("Une naissance heureuse, Isabelle Brabant")
			@views.html.read.teaser("Le grand dictionnaire des malaises et des maladies, Jacques Martel")
			@views.html.read.teaser("Le plan ayurveda, Anna Selby")
			@views.html.read.teaser("Le livre de l'ayurveda, Judith H. Morrison")
			@views.html.read.teaser("Ayurveda, science de l'autoguerison, Dr Vasant Lad")
			@views.html.read.teaser("Anatomie de l'esprit, Caroline Myss")
			@views.html.read.teaser("Le corps quantique, Deepak Chopra")
			@views.html.read.teaser("Adhyatma Yoga - À la recherche du Soi, Volume 1, Arnaud Desjardins")
			</p>
 		</div>
   		<div class="col-sm-6">
	   		<h3>Spécialistes</h3>
	   		<p>
			@views.html.read.teaserurl("Ayurveda et méditation védique : Julie Corbeil")("voir le site")("http://www.juliecorbeil.qc.ca/ayurveda/")
			@views.html.read.teaserurl("Massothérapie : Pascale Saint-Jean")("voir le site")("http://www.fqm.qc.ca/fiche-membre/59475")
			@views.html.read.teaserurl("Écriture inspirée : France Gauthier")("voir le site")("http://www.francegauthier.ca/")
			</p>
 		</div>
	</div>
 	
</div>
}