@()
@import layouts._

@head = {
}

@heading = {
	<h1>Lectures et références</h1>
	<hr class="small">
}

@main("Yoga et méditation à Montréal | Photos")(head)(heading)("pictures-bg.jpg") {

<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
   
   		<div class="row">
   		
   		<div class="col-sm-6">
	   		<h3>Livres</h3>
	   		<p>
			@views.html.read.teaser("Autobiographie d'un yogi, Paramahansa Yogananda")(null)
			@views.html.read.teaser("Le pouvoir du moment présent, Eckhart Tolle")(null)
			@views.html.read.teaser("Prof! D'une mer d'émotions à un monde de notions, Bob Cantin et Anne-Marie Quesnel")(null)
			@views.html.read.teaser("Vivre et mourir... guéri!, France Gauthier")(null)
			@views.html.read.teaser("Une naissance heureuse, Isabelle Brabant")(null)
			@views.html.read.teaser("Le grand dictionnaire des malaises et des maladies, Jacques Martel")(null)
			@views.html.read.teaser("Le plan ayurveda, Anna Selby")(null)
			@views.html.read.teaser("Le livre de l'ayurveda, Judith H. Morrison")(null)
			@views.html.read.teaser("Ayurveda, science de l'autoguerison, Dr Vasant Lad")(null)
			@views.html.read.teaser("Anatomie de l'esprit, Caroline Myss")(null)
			@views.html.read.teaser("Le corps quantique, Deepak Chopra")(null)
			@views.html.read.teaser("Adhyatma Yoga - À la recherche du Soi, Volume 1, Arnaud Desjardins")(null)
			</p>
 		</div>
   		<div class="col-sm-6">
	   		<h3>Spécialistes</h3>
	   		<p>
			@views.html.read.teaser("Ayurveda et méditation védique : Julie Corbeil")("http://www.juliecorbeil.qc.ca/ayurveda/")
			@views.html.read.teaser("Massothérapie : Pascale Saint-Jean")("http://www.francegauthier.ca/")
			@views.html.read.teaser("Écriture inspirée : France Gauthier")("http://www.fqm.qc.ca/fiche-membre/59475")
			</p>
 		</div>
	</div>
 	
</div>
}