@()
@import layouts._

@head = {
}

@heading = {
	<h1>Tarot</h1>
	<hr class="small" style="margin-bottom:120px;">
}

@main("Yoga et méditation à Montréal | Coaching")(head)(heading)("tarot.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
			Je suis apprentie tireuse de carte. Pour me pratiquer, 
			je vous tire le tarot en échange d’un latté ou d’une contribution volontaire dans un des cafés de Villeray. 
	    </div>
    </div>
</div>
}
