@()
@import layouts._

@head = {
}

@heading = {
	<h1 style="margin-top:180px;">TAROT\CAFÉ</h1>
	<hr class="small" >
	<div class="subheading" style="margin-bottom:80px;">à Montréal</span></div>
}

@main("TAROT$\\CAFÉ à Montréal")(head)(heading)("tarot.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
		1 tirage de tarot autour d'1 café ou 1 café autour d'1 tirage de tarot.
		<br/><br/>
		J'adore le TAROT: une personne choisit quelques cartes et voilà qu'une partie de son 
        histoire est mise en lumière. La vie des gens est si intéressante, riche en leçons, et 
        les cartes sont là pour nous parler de nous et, précisément, de ce qui nous préoccupe 
        consciemment ou inconsciemment en ce moment.
        <br/><br/>
        J'adore le bon CAFÉ et Montréal nous gâte avec de belles et bonnes places pour en boire.
        <br/><br/>
        Contactez-moi pour voir si je me déplace jusqu'à votre café préféré. Ou je pourrai vous en suggérer un au besoin.  
        <br/><br/>
        Tarif: 20$/30min. + 1 café
	    </div>
    </div>
</div>
}
