@()
@import layouts._

@head = {
}

@heading = {
	<h1>Tarot</h1>
	<hr class="small" >
	<div class="subheading" style="margin-bottom:40px;">Pour voir plus clair</span></div>
}

@main("Yoga et tarot à Montréal | Coaching")(head)(heading)("tarot.jpg") {
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="text-body" style="margin:0;">
		Le tarot est une autre façon d'aller à la rencontre de soi. La main, qui tire les cartes, permet à notre 
		subconscient de s'exprimer. Il est impressionnant de voir à quel point le jeu met le doigt sur ce qui doit être dit. 
		Attention, le tarot ne prédit pas l'avenir. Je vous propose une rencontre dans un café de Montréal.
		<br/><br/>
                20$ pour 30 min + 1 café
	    </div>
    </div>
</div>
}
