@()
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav navbar-right">
	        <li>
	            <a href="@routes.Application.about()">Mon yoga</a>
	        </li>
	        <li>
	            <a href="@routes.Application.ateliers()">Ateliers</a>
	        </li>
	        <li>
	            <a href="@routes.Application.tarot()">Tarot</a>
	        </li>
	        <li>
	            <a href="http://instagram.com/utilisetoncorps">Photos</a>
	        </li>
	        <li>
	            <a href="@routes.Application.journal()">Journal</a>
	        </li>
	        <li>
	            <a href="@routes.Application.contact()">Contact</a>
	        </li>
	    </ul>
	</div>
	<!-- /.navbar-collapse -->
